commands:
  01_install_node:
    command: |
      curl -fsSL https://rpm.nodesource.com/setup_22.x | bash -
      dnf install -y nodejs acl python3 python3-pip
      pip3 install supervisor

container_commands:
  00_copy_env:
    command: |
      sed -E 's/^([^=]+)=(.*[[:space:]].*)$/\1="\2"/' /opt/elasticbeanstalk/deployment/env > /var/app/staging/.env.local
      chown webapp:webapp /var/app/staging/.env.local
      chmod 640 /var/app/staging/.env.local
  01_clean_node_modules:
    command: "sudo rm -rf /var/app/staging/frontend/node_modules"
  02_npm_install:
    command: "npm ci --prefix /var/app/staging/frontend"
    cwd: /var/app/staging
  03_npm_build:
    command: "npm run build --prefix /var/app/staging/frontend"
    cwd: /var/app/staging
  04_cache_clear:
    command: "sudo -u webapp php bin/console cache:clear --env=prod --no-debug"
    cwd: /var/app/staging
  05_migrations:
    command: "php bin/console doctrine:migrations:migrate --no-interaction --allow-no-migration --env=prod"
    cwd: /var/app/staging
  06_messenger_setup:
    command: "php bin/console messenger:setup-transports --no-interaction --env=prod"
    cwd: /var/app/staging
  07_reload_worker:
    command: "/usr/local/bin/supervisorctl reread && /usr/local/bin/supervisorctl update && /usr/local/bin/supervisorctl restart messenger-consume:* || true"
